@media (max-width: 1240px) {
  body {
    background-image: url("../img/bg-laptop.svg");
  }
  .container {
    --width: 880px;
  }

  .hero {
    padding-bottom: 30px;
  }

  .hero__title {
    max-width: 680px;
    font-size: 64px;
    margin-bottom: 15px;
  }

  .hero__cup_orange {
    margin-top: -50px;
  }

  .goods__list {
    grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 940px) {
  body {
    background-image: url("../img/bg-tablet.svg");
  }

  .container {
    --width: 608px;
    --padding: 15px;
  }

  .btn {
    padding: 8px 20px;
    font-size: 14px;
    box-shadow: 0px 2px 10px 0px #fa5a5a;
  }

  .hero {
    padding: 20px 0;
  }

  .hero__title {
    max-width: 468px;
    font-size: 44px;
    margin-bottom: 10px;
  }

  .hero__cups {
    padding-top: 100px;
  }

  .hero__cup_orange {
    margin-top: -35px;
  }

  .goods__title {
    margin-bottom: 16px;
    gap: 16px;
  }

  .goods__list {
    grid-template-columns: repeat(4, 140px);
  }

  .cocktail {
    border-radius: 12px;
    padding: 8px;
  }

  .cocktail__img {
    border-radius: 12px;
  }

  .cocktail__content {
    margin-top: 8px;
    padding: 0;
  }

  .cocktail__text {
    flex-direction: column;
  }

  .cocktail__title {
    font-size: 14px;
  }

  .cocktail__information {
    margin-top: 8px;
    flex-direction: row;
    justify-content: space-between;
  }

  .cocktail__price {
    font-size: 14px;
  }

  .cocktail__size {
    font-size: 10px;
  }

  .footer {
    margin-bottom: 24px;
  }

  .footer__copyright {
    font-size: 14px;
  }

  .footer__developer-item {
    font-size: 14px;
  }
  /* *modal__order */
  .modal__main {
    max-width: 320px;
  }
  .order {
    padding: 24px 15px;
  }
  .order__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .order__name {
    font-size: 14px;
  }
  .order__topping-item {
    font-size: 10px;
  }

  .order__item-price {
    font-size: 14px;
  }
  .order__price {
    margin: 20px 0;
    font-size: 14px;
  }

  .order__form {
    grid-template-columns: repeat(1, 290px);
    gap: 8px 0;
  }

  .order__input {
    padding: 8px 12px;
    font-size: 14px;
  }

  .order__input::placeholder {
    color: #d5b4a8;
  }

  .order__submit {
    margin-top: 12px;
    grid-column: 1;
  }

  /* *modal_make */

  .modal__main_make {
    max-width: 320px;
  }

  .make{
    padding: 24px 15px;
}

.make__title{
  margin-bottom: 8px;
  font-size: 24px;
}

.make__form{
  gap: 24px 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "ingredients ingredients "
  "topping ."
  "cup  cup"
  "footer footer";
}

.make__fieldset_ingredients{
  margin-top: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 15px;
}

.make__legend{
  font-size: 14px;
}

.make__label{
  margin-top: 12px;
  font-size: 14px;
}

.make__note{
  font-size: 10px;
}

.make__add-btn{
  font-size: 14px;
  width: 136px;
}

.make__total{
  margin-left: 16px;
}

.make__total-price {
  font-size: 14px;
}

.make__total-size {
  font-size: 10px;
}

}

@media (max-width: 640px) {
  body {
    background-image: url("../img/bg-mobile.svg");
  }

  .header {
    padding: 31px 0;
  }

  .header__logo {
    width: 120px;
  }

  .header__btn {
    display: none;
  }

  .header__btn-order {
    margin-right: 0;
  }

  .hero {
    padding-top: 0;
  }

  .hero__title {
    margin-bottom: 120px;
    font-size: 36px;
  }

  .hero__cups {
    display: none;
  }

  .goods {
    padding: 40px 0 30px;
  }

  .goods__list {
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
    gap: 10px;
  }

  .footer__img {
    width: 120px;
  }

  .footer__developer {
    justify-self: start;
  }

  .footer__container {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "coopyright"
      "developer";
  }
}

@media (max-width: 465px) {
  .goods__list {
    grid-template-columns: repeat(2, 140px);
  }
}
